body {
  background-color: #550000;
  padding: 10px;
}

#header {
  background-color: black;
  overflow: hidden;
  display: flex;
  text-align: right;
  margin-top: 10px;
  max-height: 90px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  box-sizing: border-box;
  width: 88%;
  top: 0px;
}

section {
  color: white;
  width: 90%;
  word-wrap: break-word;
}

#header-img {
  height: 100%;
  max-height: 90px;
  background-color: black;
}

.header-img-container {
  height: 100%;
}

a { 
 text-decoration: none;
 color: white;
 word-wrap: break-word;
}

#header li {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: all 0.3s ease-out;
  margin-top: 10px;
  margin-right: 40px;
  border-radius: 5px;
  word-wrap: break-word;
}

#header li:hover {
  background-color: rgba(135, 0, 0, 0.8);
}

#nav-bar {
  z-index: 1;
  text-align: right;
  border: none;
  margin-right: 0px;
  margin-left: 60px;
  position: fixed;
  top: 0px;
}

#form h2 {
  text-align: center;
}

.products-list .product {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.products-list .product:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  color: rgba(135, 0, 0);
  transition: 0.2s;
}

#email-form {
  padding: 20px;
  color: white;
}

#email-form #email {
  color: white;
  background-color: rgba(135, 0, 0, 0.8)
}

#email-form #submit {
  color: white;
  background-color: rgba(135, 0, 0, 0.8);
  border-radius: 5px;
}

#email-form-confirmation {
  text-align: center;
}

.products-list .product .product-image{
  float: left;
  margin-right: 20px;
  border-radius: 5px;
}

.products-list .product .product-info {
  overflow: hidden;
  text-align: left;
}

#tradition {
  margin-top: 115px;
  background-color: rgba(135, 0, 0, 0.6);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

#video {
  aspect-ratio: auto 16 / 9;
  width: 80%;
  height: auto;
  padding: 10%;
  border: none;
}

#vines {
  margin-top: 25px;
  background-color: rgba(135, 0, 0, 0.6);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

#raisin {
  margin-top: 25px;
  background-color: rgba(135, 0, 0, 0.6);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

#information {
  margin-top: 25px;
  background-color: rgba(135, 0, 0, 0.6);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

#information ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

#information li {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  font-size: 16px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 730px) {
  #header {
    color: black;
    max-width: 40%;
    right: -70px;
    min-height: 145px;
    position: fixed;
    transform: translateX(-50%);
  }
  #header li {
    display: block;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 14px;
    word-wrap: break-word;
    }
    
  #header li:last-child {
    margin-bottom: 10px;
    }
}

@media (max-width: 400px) {
  #header {
    min-height: 135px;
    justify-content: center;
    position: fixed;
  }
  #header-img {
    display: none;
  }
  #header li {
    display: block;
    text-align: center;
    padding: 1px;
    font-size: 14px;
    word-wrap: break-word;
    margin-right: 80px;
  }
  #information ul {
    flex-wrap: wrap;
  }
  #information li {
    display: block;
    margin-bottom: 10px;
  }
}
